<% include ../header/html %>
	<h1>Welcome to Walk-in Family!</h1>
    <h3>Hi <%= name %>,</h3>
    <p>You did it! Congrats and welcome to the Walk-in family.</p>
    <p>You are now one of the many smart, busy people using Walk-in to simplify their appointment making and schedule management.</p>
    <p>That was it, just those simple steps and you are up and running! 
    You can begin making appointments with Walk-in right now!</p>

    <p>Thanks again for joining Walk-in, we are glad you are here. Please do not hesitate to share your feedbacks to improve our service quality and your satisfaction. Our only goal is to make this app very useful to you. </p>

    <p>All the best,<br/>Your Walk-in Team</p>

<% include ../footer/html %>