extends layout

block scripts
  script(type='text/javascript')
    function fourSquare(){
      
    }

block content

  form(name='frm',action='/login')
    input#login(type='submit',value='FourSquare Connect',name='login',class='foursquare-btn')